<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springcore.setterinjection.Student" name="student1">
        <property name="studentId" value="001"/>
        <property name="studentName" value="Suman"/>
        <property name="studentAddress" value="Thirthahalli"/>
    </bean>
    <bean class="org.springcore.setterinjection.Student" name="student2">
        <property name="studentId" value="002"/>
        <property name="studentName" value="Shruthi"/>
        <property name="studentAddress" value="Hasan"/>
    </bean>
</beans>